.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff !important;
  margin-bottom: 0.5rem;
  padding: 0.8rem;
}

.sidebarOption:hover {
  background-color: var(--gray-dark);
  border-radius: 30px;
  /* transition: "background-color 100ms ease-out"; */
}

.MuiSvgIcon-root {
  margin-right: 1rem;
  width: 2rem !important;
  height: 2rem !important;
}

.sidebarOption > h2 {
  font-size: 20px;
  /* margin-right: 20px; */
  margin-bottom: 0;
}

.sidebarOption--active {
  color: var(--primary) !important;
}
.sidebarOption--active > h2 {
  font-weight: 800 !important;
}
